/* ## Products - General
--------------------------------------------- */

.woocommerce .woocommerce-result-count,
.woocommerce-page .woocommerce-result-count {
	float: left;
	font-size: 15px;
}

.woocommerce .woocommerce-ordering,
.woocommerce-page .woocommerce-ordering {
	float: right;
}

.woocommerce-result-count + .row,
.woocommerce-ordering + .row {
	clear: both;
}

.woocommerce .woocommerce-ordering select {
	vertical-align: top;
}

.woocommerce div.product p.price,
.woocommerce div.product span.price {
	color: #00cd51;
}

.woocommerce span.onsale {
	background-color: #00cd51;
	min-height: auto;
	font-size: 14px; /* can't be em because font-size: 0; trick on the image. */
	line-height: 1.75;
	padding: 3px 10px;
	border-radius: 0;
}

.woocommerce .star-rating,
.woocommerce .products .star-rating {
	float: none;
	margin-left: auto;
	margin-right: auto;
}

.woocommerce p.stars a,
.woocommerce .star-rating::before,
.woocommerce .star-rating span::before {
	color: gold;
}

/* ## Products - Archive
--------------------------------------------- */

.product mark {
	background-color: transparent;
}

.products-wrap {
	clear: both; /* clear floats when result count and sorting is used */
	width: 100%;
}

.woocommerce div.product.flex-entry,
.products-wrap .products > div.product {
	text-align: center;
	margin-bottom: 30px;
}

.flex-entry.entry.boxed > .woocommerce-LoopProduct-link {
	font-size: 0;
	margin: -25px -25px 12px;
}

.flex-entry.entry .entry-content .woocommerce-LoopProduct-link {
	display: -ms-flexbox;display: -webkit-box;display: flex;
	-webkit-box-orient: vertical;-webkit-box-direction: normal;-ms-flex-direction: column;flex-direction: column;
	-webkit-box-flex: 1;-ms-flex: 1 1 auto;flex: 1 1 auto;
}

.flex-entry.entry .entry-content .price,
.products-wrap .products > div.product span.price,
.products-wrap .products > div.product p.price {
	font-size: 16px;
	margin-top: auto;
	margin-bottom: 10px;
}

/* ## Products - Single
--------------------------------------------- */

@media only screen and (min-width: 769px) {

	.single-product .content > div.product {
		display: -ms-flexbox;display: -webkit-box;display: flex;
		-ms-flex-wrap: wrap;flex-wrap: wrap;
		-ms-flex-pack: justify;-webkit-box-pack: justify;justify-content: space-between;
	}

	.single-product .content > div.product .summary {
		-ms-flex: 1 1 auto;-webkit-box-flex: 1;flex: 1 1 auto;
		max-width: 100%;
	}

	.single-product .content > div.product .images {
		-ms-flex: 0 1 auto;-webkit-box-flex: 0;flex: 0 1 auto;
		max-width: 100%;
	}

	.single-product .content > div.product.has-post-thumbnail .summary {
		-ms-flex: 0 0 48%;	-webkit-box-flex: 0;	flex: 0 0 48%;
		max-width: 48%;
	}

	.single-product .content > div.product.has-post-thumbnail .images {
		-ms-flex: 0 0 48%;	-webkit-box-flex: 0;	flex: 0 0 48%;
		max-width: 48%;
	}

}

.woocommerce div.product div.images .flex-control-thumbs {
	display: -ms-flexbox;display: -webkit-box;display: flex;-ms-flex-wrap: wrap;flex-wrap: wrap;
	margin-top: 10px;
	margin-left: -5px;
	margin-right: -5px
}

.woocommerce div.product div.images .flex-control-thumbs li {
	-ms-flex-preferred-size: calc(33.33333333% - 10px);flex-basis: calc(33.33333333% - 10px);
	max-width: calc(33.33333333% - 10px);
	margin: 0 5px 10px
}

.single-product div.product form.cart,
.single-product div.product p.cart {
	display: -ms-flexbox;display: -webkit-box;display: flex;
	-ms-flex-wrap: wrap;flex-wrap: wrap;
}

.single-product div.product form.variations_form.cart {
	-ms-flex-direction: column;-webkit-box-orient: vertical;-webkit-box-direction: normal;flex-direction: column;
}

.single-product div.product form.cart .variations tbody {
	border: none;
}

.single-product div.product p.price,
.single-product div.product span.price {
	margin-bottom: 8px;
}

.woocommerce-variation-price {
	margin-bottom: 16px;
}

.woocommerce div.product form.cart div.quantity {
	margin-right: 8px;
}

.sku_wrapper,
.posted_in,
.tagged_as {
	display: block;
}

.product_meta {
	color: #555;
	font-size: 14px;
}

.woocommerce #reviews #comments ol.commentlist li {
	list-style-type: none;
}

/* ### Tabs
--------------------------------------------- */

.woocommerce div.product .woocommerce-tabs {
	width: 100%;
}

.woocommerce div.product .woocommerce-tabs ul.tabs::before {
	display: none;
}

body.woocommerce div.product .woocommerce-tabs ul.tabs {
	list-style: none;
	padding: 0;
	margin: 20px 0 0;
}

body.woocommerce div.product .woocommerce-tabs ul.tabs li::after,
body.woocommerce div.product .woocommerce-tabs ul.tabs li::before {
	display: none;
}

body.woocommerce div.product .woocommerce-tabs ul.tabs li {
	display: inline-block;
	background: transparent;
	padding: 0;
	margin: 0;
	border: none;
	border-radius: 0;
}

body.woocommerce div.product .woocommerce-tabs ul.tabs li a {
	display: block;
	background-color: #f4f4f4;
	color: #666;
	font-size: 15px;
	font-weight: 400;
	text-transform: uppercase;
	padding: 6px 12px;
	border: 1px solid #e6e6e6;
}

body.woocommerce div.product .woocommerce-tabs ul.tabs li a:hover {
	color: #000;
}

body.woocommerce div.product .woocommerce-tabs ul.tabs li.active a {
	background-color: #fff;
	border-bottom-color: #fff;
}

body.woocommerce div.product .woocommerce-tabs .panel {
	background-color: #fff;
	padding: 20px;
	margin-top: -1px;
	margin-bottom: 50px;
	border: 1px solid #e6e6e6;
}

#review_form_wrapper {
	margin-top: 30px;
}

body.woocommerce #reviews h3 {
	margin-bottom: 20px;
}

@media (max-width: 768px) {

	body.woocommerce div.product .woocommerce-tabs ul.tabs li {
		display: block;
		width: auto;
	}

	body.woocommerce div.product .woocommerce-tabs ul.tabs li a {
		padding-left: 30px;
	}

	body.woocommerce div.product .woocommerce-tabs ul.tabs li.active a {
		padding-left: 14px;
	}

	body.woocommerce div.product .woocommerce-tabs ul.tabs li.active,
	body.woocommerce div.product .woocommerce-tabs ul.tabs li.active a {
		border-bottom-color: #e6e6e6;
	}

	body.woocommerce div.product .woocommerce-tabs ul.tabs li.active a::before {
		display: inline-block;
		content: "\f101";
		font-family: FontAwesome;
		margin-right: 5px;
		-webkit-font-smoothing: antialiased;
	}

	body.woocommerce div.product .woocommerce-tabs .panel {
		margin-top: 0;
	}

}

/* ### Related Products
--------------------------------------------- */

.related.products,
.up-sells.products {
	clear: both;
	width: 100%;
}

.related.products .product.boxed {
	padding: 12px;
}

.related.products .product.boxed > .woocommerce-LoopProduct-link {
	margin: -13px -13px 12px;
}

/* ### Cross Sells & Up Sells
--------------------------------------------- */

.cross-sells > h2,
.up-sells > h2,
.related.products > h2 {
	font-size: 1.563rem;
}

/* ## Cart
--------------------------------------------- */

body.woocommerce-cart table.cart img {
	display: block;
	margin: 0;
}

body.woocommerce-cart .quantity .qty {
	width: 66px;
}

/* ### Coupons
--------------------------------------------- */

body.woocommerce-cart table.cart td.actions .coupon label[for="coupon_code"] {
	position: absolute;
	clip: rect(0, 0, 0, 0);
	height: 1px;
	width: 1px;
	border: 0;
	overflow: hidden;
	color: #333;
	background: #fff;
}

body.woocommerce-cart table.cart td.actions .coupon {
	display: -ms-inline-flexbox;display: -webkit-inline-box;display: inline-flex;
	-ms-flex-wrap: wrap;flex-wrap: wrap;
}

body.woocommerce-cart table.cart td.actions .coupon::before,
body.woocommerce-cart table.cart td.actions .coupon::after {
	display: none;
}

body.woocommerce-cart table.cart td.actions .coupon .input-text {
	float: none;
	width: 160px;
}

body.woocommerce-cart .cart input[name="update_cart"] {
	float: right;
}

@media only screen and (max-width: 768px) {

	body.woocommerce-cart table.cart td.actions {
		padding: 12px;
		overflow: hidden;
	}

	body.woocommerce-cart table.cart td.actions .coupon {
		display: -ms-flexbox;display: -webkit-box;display: flex;
		-ms-flex-pack: justify;-webkit-box-pack: justify;justify-content: space-between;
		padding-bottom: 0;
		margin-bottom: 0;
	}

	body.woocommerce-cart table.cart td.actions .coupon input.input-text,
	body.woocommerce-cart table.cart td.actions .coupon input.button {
		-ms-flex: 1 1 49%;-webkit-box-flex: 1;flex: 1 1 49%;
		max-width: 49%;
		margin: 0 0 6px;
	}

	body.woocommerce-cart .cart input[name="update_cart"] {
		float: none;
		margin-top: 6px;
	}

}

@media only screen and (max-width: 544px) {

	body.woocommerce-cart table.cart td.actions .coupon {
		display: block;
	}

	body.woocommerce-cart table.cart td.actions .coupon input.input-text,
	body.woocommerce-cart table.cart td.actions .coupon input.button {
		width: 100%;
		max-width: 100%;
	}

}

/* ## Checkout
--------------------------------------------- */

.woocommerce .cart_totals .button.alt.checkout-button {
	width: 100%;
	font-size: 18px;
	padding: 16px 20px;
}

#add_payment_method #payment ul.payment_methods li,
.woocommerce-cart #payment ul.payment_methods li,
.woocommerce-checkout #payment ul.payment_methods li {
	list-style-type: none;
}

#add_payment_method #payment ul.payment_methods li img,
body.woocommerce-cart #payment ul.payment_methods li img,
body.woocommerce-checkout #payment ul.payment_methods li img {
	max-width: 50px;
}

body.woocommerce-checkout form.checkout_coupon .form-row {
	margin: 0;
}

/* ## My Account
--------------------------------------------- */

.woocommerce-MyAccount-navigation ul,
.woocommerce .woocommerce-MyAccount-navigation ul {
	list-style: none;
	padding: 0;
	margin: 0 10px 30px 0;
	border: 1px solid #ebe9eb;
	border-bottom: none;
}

.woocommerce-MyAccount-navigation ul li::after,
.woocommerce-MyAccount-navigation ul li::before {
	display: none;
}

.woocommerce-MyAccount-navigation ul li,
.woocommerce .woocommerce-MyAccount-navigation ul li {
	display: block;
	background: transparent;
	padding: 0;
	margin: 0;
	border: none;
	border-radius: 0;
}

.woocommerce-MyAccount-navigation ul li a {
	display: -ms-flexbox;display: -webkit-box;display: flex;
	-ms-flex-pack: justify;-webkit-box-pack: justify;justify-content: space-between;
	color: #515151;
	padding: 6px 12px;
	border-bottom: 1px solid #ebe9eb;
}

.woocommerce-MyAccount-navigation ul li a:hover {
	background-color: #f7f6f7;
	color: #515151;
}

.woocommerce-MyAccount-navigation ul li.is-active a {
	background-color: #f7f6f7;
}

.woocommerce-MyAccount-navigation ul li.is-active a::after {
	display: inline-block;
	content: "\f101";
	font-family: FontAwesome;
	margin-left: auto;
	margin-right: 5px;
	-webkit-font-smoothing: antialiased;
}

/* ## Forms
--------------------------------------------- */

@media only screen and (max-width: 544px) {

	.woocommerce form .form-row-first,
	.woocommerce form .form-row-last,
	.woocommerce-page form .form-row-first,
	.woocommerce-page form .form-row-last {
		float: none;
		width: 100%;
	}

}
