
.mai-metabox .cmb-row:not(.cmb-repeatable-grouping) {
    border: none !important;
}

.mai-metabox .cmb-type-group {
	max-width: 100% !important;
}

.mai-metabox .cmb-repeatable-group .cmb-th,
.mai-metabox .cmb-repeatable-group .cmb-td {
	float: none;
	width: 100% !important;
}

.mai-metabox .cmb-repeatable-group .cmb-th label {
	font-size: 14px;
	margin-bottom: 10px;
}

.mai-metabox .cmb-repeatable-group .cmb2-upload-button {
	float: none !important;
}

.cmb2-postbox .mai-metabox .cmb-row:not(.cmb-repeatable-grouping) {
    padding: 10px 0 0 !important;
    margin-bottom: 16px !important;
}

.mai-metabox .cmb2-metabox-description {
	display: block !important;
	color: #444 !important;
    font-size: 13px !important;
    font-style: italic !important;
    padding-top: .5em !important;
}

.mai-metabox .cmb-type-checkbox .cmb2-metabox-description {
	display: inline-block !important;
    font-style: normal !important;
    padding-bottom: 0 !important;
    margin: 2px 0 5px !important;
}

.mai-metabox #cmb2-metabox-mai_static_archive_settings .cmb-row.cmb2-id-mai-content-archives-title .cmb2-metabox-title,
.mai-content-archive-metabox .cmb2-id-more-link .cmb-th label,
.mai-content-archive-metabox .cmb2-id-content-archive-limit label,
.mai-content-archive-metabox .cmb2-id-image-location label,
.mai-content-archive-metabox .cmb2-id-image-size label,
.mai-content-archive-metabox .cmb2-id-image-alignment label {
	display: none;
}

#mai_post_banner .cmb-th {
	position: absolute !important;
	clip: rect(0, 0, 0, 0);
	height: 1px;
	width: 1px;
	border: 0;
	overflow: hidden;
}

#mai_post_banner .cmb-th:focus {
	clip: auto !important;
	height: auto;
	width: auto;
	display: block;
	font-size: 1em;
	font-weight: bold;
	padding: 15px 23px 14px;
	color: #323232;
	background: #fff;
	z-index: 100000; /* Above WP toolbar. */
	text-decoration: none;
	-webkit-box-shadow: 0 0 2px 2px rgba(0,0,0,.6);
	        box-shadow: 0 0 2px 2px rgba(0,0,0,.6);
}

.cmb-section-settings {
	background-color: #f5f5f5;
	margin-top: 16px;
}

.cmb-flex-wrap {
	display: -webkit-box;display: -ms-flexbox;display: flex;
	-ms-flex-wrap: nowrap;flex-wrap: nowrap;
}

.cmb-flex-wrap .cmb-flex-item {
    -webkit-box-flex: 1;-ms-flex: 1 1 25%;flex: 1 1 25%;
	max-width: 25%;
	padding: 6px 20px !important;
}

.cmb-flex-wrap .cmb-flex-item .cmb2-media-status .img-status img {
	width: 100%;
}